@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
.project-card {
  margin-bottom: $spacing-07;

  &__link {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $layer-01;
    overflow: hidden;
    
    @include breakpoint-up(md) {
      flex-direction: row;
    }
  }
  
  &__text {
    padding: $spacing-05;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint-up(md) {
      width: 50%;
    }

    h3 {
      @include type-style('productive-heading-03');
      margin-bottom: $spacing-03;
    }

    p {
      @include type-style('body-long-01');
      margin-bottom: $spacing-05;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-03;
    margin-bottom: $spacing-05;
  }

  &__view {
    @include type-style('body-short-02');
    display: flex;
    align-items: center;
    color: $link-primary;
    margin-top: auto;

    svg {
      margin-left: $spacing-03;
    }
  }

  &__image-container {
    width: 100%;
    padding-top: 56.25%; // 16:9 aspect ratio
    position: relative;

    @include breakpoint-up(md) {
      width: 50%;
      padding-top: 28.125%; // Half of 16:9
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}