@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/type' as *;

//hero section
.home-page {
  .intro-section {
    padding: $spacing-09 0;

    @include breakpoint(sm) {
      padding: $spacing-07 0;
    }

    .intro-title {
      @include type-style('productive-heading-07');
      margin-bottom: $spacing-06;
    }

    .meet-link {
      @include type-style('body-long-02');
      display: flex;
      align-items: center;
      color: $link-primary;
      text-decoration: none;

      svg {
        margin-left: $spacing-03;
      }
    }

    .image {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }

  .skill-column {
    border: 1px solid #E0E0E0;
    padding: $spacing-05;
    position: relative;
    min-height: 200px; 

    &:hover {
      h3 {
        color: $link-primary;
      }
    }


    @include breakpoint(lg) {
      &:not(:last-child) {
        border-right: none;
      }
    }
  }

  .skill-content{
    flex: 1;

  }

  .skillWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

  }

  .info-graph {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-self: end;
  }

  .skills-section {
    padding: $spacing-09 0;
    background-color: $layer-02;

    h3 {
      @include type-style('productive-heading-03');
      margin-bottom: $spacing-03;
    }

    p {
      @include type-style('body-compact-02');
      margin-bottom: $spacing-06;
    }
  }

  //project section

  .mkt-project,
  .des-dev-project {
    padding-top: $spacing-06;
  }

  .des-header {
    margin: $spacing-07 0;
  }

  .des-cards {
    margin: $spacing-09 0;
  }

}

// gallery section
.gallery-section {
  margin-bottom: $spacing-09;
  padding-top: $spacing-09;
}

.gallery-text {
  display: flex;
  justify-content: space-between;
  padding: $spacing-07 $spacing-05;
  background-color: $field-01;
}

.g-link {
  justify-self: end;
  align-self: flex-end;
}

.g-headline {
  margin-bottom: $spacing-07;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0; // 移除与上方文字块的间距
}

.gallery-item {
  position: relative;
  padding: 0; // 移除内部间距

  &::before {
    content: '';
    display: block;
    padding-top: 50%; // 2:1 比例
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-item-large {
  width: 62.5%; // 10/16
}

.gallery-item-small {
  width: 37.5%; // 6/16
}

@media (max-width: 1056px) {
  .gallery-item {
    width: 50% !important;
  }
}

@media (max-width: 672px) {
  .gallery-item {
    width: 100% !important;
  }
}