@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.capabilities-section {
  padding: $spacing-09 0;

  // h2 {
  //   @include type-style('productive-heading-05');
  //   margin-bottom: $spacing-07;
  // }

  .left-wrapper {
    display: flex;
    flex-direction: column;
  }

  .capabilities-content {
    display: flex;
    align-items: flex-start;
    justify-content: baseline;

    .capabilities-icon {
      margin-right: $spacing-05;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      img {
        width: 50%;
        align-self: center;
        

      }
    }

    .cds--structured-list {
      flex-grow: 1;
      background-color: $layer-02;
      width: 75%;
    }

    .cds--structured-list-th {
      @include type-style('heading-01');
    }

    .cds--structured-list-td {
      @include type-style('body-long-01');
    }
  }
}