@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.capabilities-section {
  padding: $spacing-05 0 $spacing-09 0;
  display: flex;
  align-content: space-between;
  h2 {
    @include type-style('productive-heading-05');
    margin-bottom: $spacing-07;
  }
  .capabilities-left {
    display: flex;
    flex-direction: column;
  }

  .capabilities-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .capabilities-table {
    justify-self:flex-end;
    overflow-x: scroll;

    @include breakpoint-down(md) {
      padding: 0;
      margin: 0;
    }
  }

  .capabilities-img {
    margin-right: $spacing-05;
    width: 10%;
    align-self: flex-end;

    @include breakpoint-down(md) {
      display: none;
    }
  }

  .left-wrapper {
    display: flex;
    flex-direction: column;
  }

    .cds--structured-list {
      flex-grow: 1;
      background-color: $layer-02;
    }

    .cds--structured-list-th {
      @include type-style('heading-01');
    }

    .cds--structured-list-td {
      @include type-style('body-long-01');
    }
}
