@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;

.journey-section {
  padding: $spacing-09 0;

  h2 {
    @include type-style('productive-heading-05');
    margin-bottom: $spacing-07;
  }

  .journey-grid {
    margin-bottom: $spacing-07;
  }

  .journey-tile {
    height: 100%;
    display: flex;
    flex-direction: column;

    &--highlighted {
      @include breakpoint(md) {
        background-color: $background-inverse;
        color: $text-on-color;

        h3, p {
          color: $text-on-color;
        }
      }
    }

    .journey-image {
      width: 100%;
      padding-top: 75%; 
      position: relative;
      overflow: hidden;
      margin-bottom: $spacing-05;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h3 {
      @include type-style('productive-heading-03');
      margin-bottom: $spacing-03;
    }

    p {
      @include type-style('body-long-01');
    }
  }

  .journey-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-05;
  }
}